/* Hide navbar-toggler by default for all screen sizes */
.navbar-toggler {
    display: none !important;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #007bff; /* Slightly transparent */
      z-index: 1050;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0; /* Start with hidden state */
      visibility: hidden; /* Make sure it's hidden initially */
      transition:  visibility 0.3s ease;
  }

  .navbar-collapse.show {
      opacity: 1;
      visibility: visible; /* Show when active */
  }



  .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .nav-item {
      width: 100%;
      margin: 10px 0;
  }

  .nav-link {
      color: white;
      font-size: 1.5rem;
      padding: 15px 0;
      width: 100%;
      cursor: pointer;
  }

  .nav-link:hover {
      background-color: #007bff;
      border-radius: 5px;
  }

  .navbar-toggler {
      display: block !important; /* Show only on mobile */
      transition: transform 0.3s ease;
  }

  .navbar-toggler[aria-expanded="true"] {
      transform: rotate(90deg);
  }
  
  
}
